/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 avr. 2023, 02:05:32
    Author     : user
*/
.table-view {
    -fx-background-color: #fff;
    -fx-table-cell-border-color: #ccc;
}

.table-view .column-header-background {
    -fx-background-color: #4d94ff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 1 0;
    -fx-text-fill: white;
    -fx-pref-width: 100px;
    -fx-padding: 5px;
}

.table-cell {
    -fx-alignment: CENTER_LEFT;
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 1 1;
    -fx-pref-width: 100px;
    -fx-padding: 5px;
}

.table-cell:first-child {
    -fx-border-width: 0 0 1 0;
}

.table-row-cell:hover {
    -fx-background-color: #f0f0f0;
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-row-cell:selected {
    -fx-background-color: #cce5ff;
}

.table-row-cell:filled:selected:hover {
    -fx-background-color: #99c2ff;
}

.table-row-cell:filled:selected:pressed {
    -fx-background-color: #4d94ff;
}

.button {
    -fx-background-color: #4d94ff;
    -fx-text-fill: white;
    -fx-background-radius: 20px;
}

.anchor-pane {
    -fx-background-image: url("C:/Users/user/OneDrive/Documents/NetBeansProjects/PIDEV-MBV2/src/uploads/bkg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

